$bg-color: #f7f9fc;
$main-color: #3e4056;
$accent-color: #f05d63;
$text-bg-color: #ecf1f8;
$text-additional-color: #636363;

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: "Open Sans", sans-serif;
  color: $main-color;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 12px 20px 0px rgba(34, 60, 80, 0.12);
}
main,
section {
  width: 100%;
}
main {
  padding: 72px 0;
}
a {
  text-decoration: none;
  color: $accent-color;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}
h1,
h2 {
  margin: 0;
}
p {
  margin: 0;
}
.header {
  max-width: 1218px;
  padding: 21px 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__logo-wrapper {
}
.header__logo {
}
.header__profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0 15px;
}
.header__user,
.header__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__user {
  gap: 0 20px;
  padding: 0 20px 0 0;
  position: relative;

  &::after {
    content: "";
    background: url("../img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 11px;
    height: 5px;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
.header__username {
}
.header__avatar-wrapper {
  width: 32px;
  height: 32px;
}
.header__avatar {
  width: 100%;
  height: 100%;
}
.header__icons {
}
.header__icon-wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__share-icon,
.header__notifications-icon,
.header__medium-icon {
  width: auto;
  height: 100%;
  cursor: pointer;
}
.header__navigation-wrapper {
  max-width: 1218px;
  padding: 0 24px 20px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 37px;
}
.navigation-list__item {
  color: $main-color;
  text-transform: uppercase;
  font: 600 14px / 16px "Open Sans", sans-serif;
  opacity: 0.6;
  position: relative;

  &:after {
    content: "";
    width: 0px;
    height: 4px;
    background: linear-gradient(to right, #ff974f, #e32c75);
    position: absolute;
    left: 0;
    top: 38px;
    transition: all 0.3s ease-in-out;
  }
}
.navigation-list__item:hover {
  &:after {
    width: 100%;
  }
}
.navigation-list__item__active {
  opacity: 1;
  &:after {
    width: 100%;
  }
}
.header__btn-wrapper {
  background: linear-gradient(to bottom right, #ff974f, #e32c75);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0px 12px 20px 0px rgba($color: $accent-color, $alpha: 0.4);
  }
}
.header__btn {
  background: none;
  outline: 0;
  border: 0;
  width: 20px;
  height: 20px;
  padding: 0;
}
.header__plus-icon {
  width: 100%;
  height: 100%;
}
.profile {
  max-width: 1218px;
  padding: 0 24px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "profile__user-details profile__switcher-wrapper"
    "profile__user-details profile__cards-wrapper";
  justify-content: center;
  align-items: start;
  gap: 62px 47px;
}
.profile__user-details {
  grid-area: profile__user-details;
}
.profile__general {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "profile__avatar-wrapper profile__name-wrapper"
    "profile__avatar-wrapper profile__instagram"
    "profile__avatar-wrapper profile__edit-btn";
  justify-content: center;
  align-items: start;
  gap: 0 24px;
}
.profile__avatar-wrapper {
  grid-area: profile__avatar-wrapper;
  width: 120px;
  height: 120px;
}
.profile__avatar {
  width: 100%;
  height: 100%;
}
.profile__name-wrapper {
  grid-area: profile__name-wrapper;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 190px;
}
.profile__name {
  font: 600 24px / 26px "Montserrat", sans-serif;
  max-width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px 0 0;
}
.profile__dots-wrapper {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.profile__dots {
  width: 16px;
  height: 16px;
}
.profile__instagram {
  grid-area: profile__instagram;
  font: 400 16px / 20px "Open Sans", sans-serif;
  margin: 8px 0 0;
}
.profile__edit-btn-wrapper {
  margin: 12px 0 0;
}
.profile__edit-btn {
  grid-area: profile__edit-btn;
  font: 400 16px / 20px "Open Sans", sans-serif;
  text-decoration: underline;
  position: relative;
  padding: 0 0 0 20px;

  &:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/edit-icon.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.profile__statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 282px;
  margin: 32px 0 23px;
}
.profile__synths,
.profile__followers,
.profile__following {
  font: 400 16px / 24px "Open Sans", sans-serif;
  text-align: center;
  color: $text-additional-color;

  span {
    font: 700 18px / 24px "Open Sans", sans-serif;
    color: $main-color;
  }
}
.profile__description {
  font: 400 16px / 24px "Open Sans", sans-serif;
}
.profile__switcher-wrapper {
  grid-area: profile__switcher-wrapper;
}
.profile__switcher {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 30px;
}
.profile__switcher-option {
  font: 600 16px / 18px "Open Sans", sans-serif;
}
.profile__cards-wrapper {
  grid-area: profile__cards-wrapper;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}
.profile-card {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  height: 280px;
  max-width: 374px;
  box-shadow: 0px 12px 20px 0px rgba(34, 60, 80, 0.12);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
p + .profile-card__headline {
  padding: 0;
}
.profile-card__headline {
  padding: 40px 0 0;
  font: 400 36px / 44px "Montserrat", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card__author-photo {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
.profile-card__author {
  width: 100%;
  height: 100%;
}
.profile-card__author-name {
  font: 600 14px / 16px "Open Sans", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
  color: $main-color;
}
.profile-card__author-wrapper,
.profile-card__bottom,
.profile-card__actions-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 16px;
}
.profile-card__bottom {
  width: 100%;
}
.profile-card__author-wrapper {
  gap: 0 8px;
}
.profile-card__share-wrapper {
  text-align: right;
}
.profile-card__share-link {
  font: 400 18px / 24px "Open Sans", sans-serif;
}
.profile-card__top {
  font: 600 16px / 18px "Open Sans", sans-serif;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    background-color: $text-bg-color;
    border-radius: 6px;
    padding: 0 3px;
  }
}
.profile-card__icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 8px;
}
.profile-card__icon {
  width: auto;
  height: 16px;
}
.profile-card__icon-counter {
  font: 600 14px / 16px "Open Sans", sans-serif;
}
.weblink-shared {
  position: relative;
  padding: 0 0 0 20px;
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/shared-link.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.switcher__label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switcher__label .switcher__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(218, 218, 218);
  transition: all 0.3s ease-in-out;
  border-radius: 34px;
}

.switcher__slider {
  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
  }
}

.switcher__checkbox:checked + .switcher__slider {
  background-color: $accent-color;
}

.switcher__checkbox:checked + .switcher__slider:before {
  transform: translateX(16px);
}

.profile__dots-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile__dots-content-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 34px 0;
}

.profile__dots-content {
  background-color: #ffffff;
  padding: 24px 0;
  min-width: 176px;
  box-shadow: 0px 12px 20px 0px rgba(34, 60, 80, 0.12);
  border-radius: 8px;
  opacity: 0.94;
}

.profile__dots-option-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 38px;
  width: 100%;
}
.profile__dots-content {
  .profile__dots-option {
    color: $main-color;
    padding: 0 0 0 50px;
    font: 600 16px / 18px "Open Sans", sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
    &#report-user {
      &:before {
        background-image: url("../img/icon-report.svg");
      }
    }
    &#block-user {
      &:before {
        background-image: url("../img/icon-delete.svg");
      }
    }
  }
}

.profile__dots-content {
  .profile__dots-option {
    &:hover {
      background-color: rgba($color: $text-bg-color, $alpha: 0.6);
    }
  }
}

.profile__dots-wrapper:hover .profile__dots-content-wrapper,
.profile__dots-wrapper:active .profile__dots-content-wrapper {
  display: block;
}
