body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  max-width: 1194px;
  padding: 0 24px;
}
.header__logo-wrapper {
}
.header__logo {
}
.header__profile {
}
.header__user {
}
.header__username {
}
.header__avatar-wrapper {
}
.header__avatar {
}
.header__arrow-wrapper {
}
.header__arrow {
}
.header__icons {
}
.header__share-wrapper {
}
.header__share {
}
.header__notifications-wrapper {
}
.header__notifications {
}
.header__medium-wrapper {
}
.header__medium {
}
.header__navigation-wrapper {
}
.header__navigation {
}
.header__btn-wrapper {
}
.header__btn {
}
.profile {
}
.profile__user-details {
}
.profile__general {
}
.profile__avatar-wrapper {
}
.profile__avatar {
}
.profile__name-wrapper {
}
.profile__name {
}
.profile__dots-wrapper {
}
.profile__dots {
}
.profile__instagram {
}
.profile__edit-btn {
}
.profile__statistics {
}
.profile__synths {
}
.profile__followers {
}
.profile__following {
}
.profile__description {
}
.profile__switcher {
}
.profile__cards-wrapper {
}
.profile-card {
}
.profile-card__headline {
}
.profile-card__bottom {
}
.profile-card__author-wrapper {
}
.profile-card__author-photo {
}
.profile-card__author {
}
.profile-card__author-name {
}
.profile-card__actions-wrapper {
}
.profile-card__share-wrapper {
}
.profile-card__share-link {
}
.profile-card__top {
}
.profile-card__icon-wrapper {
}
.profile-card__view-icon {
}
.profile-card__icon-counter {
}
.profile-card__like-icon {
}
.weblink-shared {
}
