$bg-color: #f7f9fc;
$main-color: #3e4056;
$accent-color: #f05d63;

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: "Open Sans", sans-serif;
  color: $main-color;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #ffffff;
}
main,
section {
  width: 100%;
}
a {
  text-decoration: none;
  color: $accent-color;
}
.header {
  max-width: 1218px;
  padding: 0 24px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo-wrapper {
}
.header__logo {
}
.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__user,
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__user {
}
.header__username {
}
.header__avatar-wrapper {
}
.header__avatar {
}
.header__arrow-wrapper {
}
.header__arrow-icon {
  width: 8px;
  height: 4px;
  opacity: 0.4;
}
.header__icons {
}
.header__icon-wrapper {
  width: 32px;
  height: 32px;
}
.header__share-icon,
.header__share-icon,
.header__medium-icon {
  width: auto;
  height: 14px;
}
.header__navigation-wrapper {
}
.header__navigation {
}
.header__btn-wrapper {
}
.header__btn {
}
.profile {
}
.profile__user-details {
}
.profile__general {
}
.profile__avatar-wrapper {
}
.profile__avatar {
}
.profile__name-wrapper {
}
.profile__name {
}
.profile__dots-wrapper {
}
.profile__dots {
}
.profile__instagram {
}
.profile__edit-btn {
}
.profile__statistics {
}
.profile__synths {
}
.profile__followers {
}
.profile__following {
}
.profile__description {
}
.profile__switcher {
}
.profile__cards-wrapper {
}
.profile-card {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
}
.profile-card__headline {
  font: 400 36px / 44px "Montserrat", sans-serif;
}
.profile-card__bottom {
}
.profile-card__author-wrapper {
}
.profile-card__author-photo {
}
.profile-card__author {
}
.profile-card__author-name {
  font: 600 14px / 16px "Open Sans", sans-serif;
}
.profile-card__actions-wrapper {
}
.profile-card__share-wrapper {
}
.profile-card__share-link {
  font: 400 18px / 24px "Open Sans", sans-serif;
}
.profile-card__top {
  font: 600 16px / 18px "Open Sans", sans-serif;

  span {
    background-color: ;
  }
}
.profile-card__icon-wrapper {
}
.profile-card__view-icon {
}
.profile-card__icon-counter {
}
.profile-card__like-icon {
}
.weblink-shared {
}
